<!DOCTYPE html>
<html>
{{block head}}
<head>
    {{block meta}}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    {{end}}
    <!-- toplinks -->
    {{block resources}}{{end}}
    {{block pagecss}}{{end}}
    {{block utils}}

    {{end}}

    <title>{{block title}}Uliweb-layout{{end}}</title>

</head>
{{end}}
<body id="themebody" class="{{block bodyclass}}hold-transition skin-blue sidebar-mini{{end}}">
{{block params}}

{{end}}
{{block container}}
{{end}}
</body>

</html>
{{block theme}}

{{end}}
