.sub-panel {
    position: relative;
    height: 100%;
}

.sub-panel .top-panel, .sub-panel .bottom-panel {
    position: relative;
    width: 100%;
}

.sub-panel .center-line {
    border: solid 1px #aaa;
    cursor: n-resize;
    padding: 3px 0;
    background-color: #ddd;
}

.sub-panel .center-line:hover {
    border: solid 1px #7c7c7c;
}