<header class="main-header">
    <nav class="navbar navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          {{block header_container_logo}}
          <a href="{{=settings.LAYOUT.get('logo_url', '/')}}" class="navbar-brand">{{=settings.LAYOUT.logo_lg}}</a>
          {{end}}
          {{block header_container_toggle_button}}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
            <i class="fa fa-bars"></i>
          </button>
          {{end}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        {{block header_menu}}
        <div class="collapse navbar-collapse pull-left" id="navbar-collapse">
          {{block mainmenu}}
            {{include "layout/include/inc_main_menu.html"}}
          {{end}}
        </div>
        <!-- /.navbar-collapse -->
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
          {{block header_custom_menu}}
            {{include "layout/include/inc_custom_menu.html"}}
          {{end}}
        </div>
        <!-- /.navbar-custom-menu -->
        {{end}}
      </div>
      <!-- /.container-fluid -->
    </nav>
  </header>