<!-- Content Header (Page header) -->
{{block content_header}}
<section class="content-header">
    {{block content_header_title}}
    <!--<h1>
        Page Title
        <small>Small Description</small>
    </h1>-->
    {{end}}

    {{block content_header_breadcrumb}}
    <!--
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Blank page</li>
    </ol>
    -->
    {{end}}
</section>
{{end}}

<!-- Main content -->
{{block content}}
<section class="content">
    {{block content_main}}
        {{include "layout/include/inc_content.html"}}
    {{end}}
</section>
{{end}}
