{{extend "layout/basic.html"}}
{{block resources}}
    {{include "layout/include/inc_common_resource.html"}}
{{end}}
{{block pagecss}}{{end}}

{{block body}}
<body id="layout-body" class="{{block skin}}{{=settings.LAYOUT.get('skin', 'skin-blue-light')}}{{end}} {{block body_class}}{{end}} layout-top-nav">
{{block header_new}}{{end}}
{{block container}}
<div class="wrapper">
    {{block topbar}}
        {{include "layout/include/inc_container_topbar.html"}}
    {{end}}

    {{block flash}}
        {{include "layout/include/inc_flash.html"}}
    {{end}}
    {{block content_wrapper}}
    <div class="content-wrapper">
        <div class="container">
            {{include "layout/include/inc_1column_content_wrapper.html"}}
        </div>
    </div>
    {{end}}

    {{block footer}}
    <footer class="main-footer">
        <div class="container">
            {{include "layout/include/inc_footer.html"}}
        </div>
    </footer>
    {{end}}

</div>
{{end}}

</body>
{{end}}
