{{extend "layout/basic.html"}}

{{block resources}}
{{include "layout/include/inc_common_resource.html"}}
{{end}}

{{block pagecss}}{{end}}


{{block container}}
<div class="wrapper {{block wrapper-export-class}}{{end}}">
    <header class="main-header" style="max-height:none">
        {{block topbar}}
        {{include "layout/include/inc_container_topbar.html"}}
        {{end}}
    </header>
    {{block main-container}}
            {{block sidebar-container}}
            <aside class="main-sidebar {{block main-sidebar-export-class}}{{end}}">
                {{include "layout/include/utils.html"}}
                {{block sidebar}}
                {{include "layout/include/inc_sidebar.html"}}
                {{end}}
            </aside>
            {{end}}
            {{block content-container}}
                <!-- Content Header (Page header) -->
                {{block content_header}}
                <section class="content-header">
                    {{block content_header_title}}
                    <!--<h1>
                        Page Title
                        <small>Small Description</small>
                    </h1>-->
                    {{end}}

                    {{block content_header_breadcrumb}}
                    <!--
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                        <li class="active">Blank page</li>
                    </ol>
                    -->
                    {{end}}
                </section>
                {{end}}

                <!-- Main content -->

                <div class="content-wrapper {{block content-wrapper-export-class}}{{end}}" style="min-height: 916px;">
                    {{block content}}
                    {{include "layout/include/inc_content.html"}}
                    {{end}}
                </div>
            {{end}}
    {{end}}
    {{block footer-container}}
    <footer class="main-footer {{block main-footer-export-class}}{{end}}">
        {{block footer}}

        {{end}}
    </footer>
    {{end}}
</div>
{{end}}
