<ul class="nav navbar-nav">
<!-- Messages: style can be found in dropdown.less-->
<li class="messages-menu">
  <a href="#">
    <i class="fa fa-envelope-o"></i>
    <span class="label label-success">4</span>
  </a>
</li>
<!-- Notifications: style can be found in dropdown.less -->
<li class="notifications-menu">
  <a href="#">
    <i class="fa fa-bell-o"></i>
    <span class="label label-warning">10</span>
  </a>
</li>
<!-- Tasks: style can be found in dropdown.less -->
<li class="tasks-menu">
  <a href="#">
    <i class="fa fa-flag-o"></i>
    <span class="label label-danger">9</span>
  </a>
</li>
<!-- User Account: style can be found in dropdown.less -->
<li class="user user-menu">
  <a href="#">
    <img src="/static/img/user50x50.jpg" class="user-image" alt="User Image">
    <span class="hidden-xs">Alexander Pierce</span>
  </a>
</li>
<!-- Control Sidebar Toggle Button -->
<li>
  <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
</li>
</ul>